ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
}
.binair{
    list-style-type:bullets;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:antiquewhite;
}
body{
    margin: 20px;

li{float: left;
}
li a{
    display: block;
    color: rgb(30, 43, 54);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a :hover{
    background-color: #111;
}
        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
            font-size: 18px;
        }

        /* Voeg de volgende CSS-regels toe om de menu-items horizontaal weer te geven */
        header nav ul {
            list-style: none;
            padding: 0;
            display: flex; /* Maakt een flexbox-container */
        }

        header nav ul li {
            margin-right: 20px; /* Voegt ruimte toe tussen de menu-items */
        }

        header nav ul li:last-child {
            margin-right: 0; /* Verwijdert de rechtermarge van het laatste menu-item */
        }

        header nav ul li a {
            text-decoration: none;
            color: #333;
        }
